<a class="btn btn-primary btn-sm" role="button" routerLink="/knobble1">第一节</a>
<!-- <a class="btn btn-primary btn-sm" role="button" routerLink="/knobble2">第二节</a>
<a class="btn btn-primary btn-sm" role="button" routerLink="/knobble3">第三节</a>
<a class="btn btn-primary btn-sm" role="button" routerLink="/knobble4">第四节</a>
<a class="btn btn-primary btn-sm" role="button" routerLink="/knobble5">第五节</a>
<a class="btn btn-primary btn-sm" role="button" routerLink="/knobble6">第六节</a> -->
<div>
  <router-outlet></router-outlet>
</div>
