<!-- <div [ngClass]="'p-a-1 '+getClasses()" [textContent]="'Name: '+(model.getProduct(1)?.name || 'None')">
  There area {{model.getProducts().length}} products in the model
</div> -->
<div [ngClass]="'p-a-1 '+getClass()">
  Name: {{model.getProduct(1)?.name || 'None'}}
</div>
<div class="form-group m-t-1">
  <label>Name:</label>
  <input class="form-control" [value]="model.getProduct(1)?.name || 'None'">
</div>
<table class="table table-sm table-bordered table-striped m-t-1">
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
  </tr>
  <tr>
    <td [attr.colspan]="model.getProducts().length">
      {{model.getProduct(1)?.name||'None'}}
    </td>
  </tr>
</table>

<div [class]="getClasses(1)">
  The first product is {{model.getProduct(1)?.name || 'None'}}
</div>
<div [class]="getClasses(2)">
  The second product is {{model.getProduct(2)?.name || 'None'}}
</div>
<div class="p-a-1"
  [class.bg-success]="model.getProduct(2).price < 50"
  [class.bg-info]="model.getProduct(2).price >= 50">
  The second product is {{model.getProduct(2)?.name || 'None'}}
</div>

<div class="p-a-1" [ngClass]="getClassMap(1)">
  The first product is {{model.getProduct(1)?.name || 'None'}}
</div>
<div class="p-a-1" [ngClass]="getClassMap(2)">
  The second product is {{model.getProduct(2)?.name || 'None'}}
</div>
<div class="p-a-1" [ngClass]="{'bg-success': model.getProduct(3).price < 50, 'bg-info': model.getProduct(3).price >= 50}">
  The third product is {{model.getProduct(3)?.name || 'None'}}
</div>

<router-outlet></router-outlet>
