<div class="bg-info p-a-1">There are {{getProductCount()}} products</div>
<p>*ngIf</p>
<div>
  <div class="bg-info p-a-1 m-t-1" *ngIf="getProductCount() > 4">
    There are more than 4 products in the model.
  </div>
  <div *ngIf="getProductByPosition(0).name !== 'Kayak'" class="bg-info p-a-1 m-t-1">
    The first product isn`t a Kayak
  </div>
</div>
<p>ngSwitch</p>
<div>
  <div class="bg-info p-a-1 m-t-1" [ngSwitch]="getProductCount()">
    <span *ngSwitchCase="2">There are two products</span>
    <span *ngSwitchCase="5">There are five products</span>
    <span *ngSwitchDefault>There is the default</span>
  </div>
  <div class="bg-info p-a-1 m-t-1" [ngSwitch]="getProductByPosition(0).name">
    <span *ngSwitchCase="targetName">Kayak</span>
    <span *ngSwitchCase="'Lifejacket'">Lifejacket</span>
    <span *ngSwitchDefault>Other Product</span>
  </div>
</div>
<p>*ngFor</p>
<div>
  <table class="table table-sm table-bordered m-t-1">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
    <!-- odd 奇数行  even 偶数行  first 第一行  last 最后一行 index 当前行的索引 -->
    <tr 
      *ngFor="let item of getProducts();
      let i=index;let odd=odd;let even=even;
      let first=first;let last=last;
      trackBy: getKey"
      [class.bg-primary]="odd" [class.bg-info]="even" [class.bg-warning]="first||last">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td *ngIf="!last">{{item.price}}</td>
    </tr>
  </table>
</div>
<p>ngTemplateOutlet</p>
<ng-template #titleTemplate let-text="text">
  <h4 class="p-a-1 bg-success">{{text}}</h4>
</ng-template>
<ng-template [ngTemplateOutlet]="titleTemplate" [ngTemplateOutletContext]="{text: 'Header'}"></ng-template>
<div class="p-a-1 m-a-1 bg-info">
  There are {{getProductCount1()}} products.
</div>
<ng-template *ngTemplateOutlet="titleTemplate; context: {text: 'Footer'}"></ng-template>
<p>单向数据绑定的短板</p>
<div class="bg-info p-a-1">
  <!-- Counter: {{counter=counter+1}} -->
</div>
<div class="bg-info p-a-1">
  Next product is {{nextProduct.name}}
</div>