<div class="col-xs-4">
  <form novalidte [formGroup]="form" (ngSubmit)="submitForm(form)">
    <div class="form-group"
      *ngFor="let control of form.productControls">
      <label>{{control.label}}</label>
      <input type="text" class="form-control" name="{{control.modelProperty}}" formControlName="{{control.modelProperty}}">
      <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <li *ngFor="let error of control.getValidtionMessages()">
          {{error}}
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="formSubmitted && form.invalid"
      [class.btn-secondary]="formSubmitted&& form.invalid">Create</button>
  </form>
</div>
<div class="col-xs-8">
  <div class="checkbox">
    <label><input type="checkbox" [(ngModel)]="showTable">Show Table</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" [(ngModel)]="darkColor">Dark Cell Color</label>
  </div>
  <!-- <ng-template [paIf]="showTable">
    <table class="table table-sm bordered table-striped">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
      <tr 
        *ngFor="let item of getProducts(); let i=index;"
        [pa-attr]="getProducts().length > 6 ? 'bg-success' : 'bg-warning'"
        [pa-product]="item"
        (pa-category)="form.controls['category'].setValue($event)">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td [pa-attr]="item.category === 'Soccer' ? 'bg-success' : null">{{item.category}}</td>
        <td [pa-attr]="'ng-info'">{{item.price}}</td>
      </tr>
    </table>
  </ng-template> -->
  <table *paIf="showTable" [paCellDarkColor]="darkColor" class="table table-sm bordered table-striped">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
    <!-- <tr 
      *ngFor="let item of getProducts(); let i=index;"
      [pa-attr]="getProducts().length > 6 ? 'bg-success' : 'bg-warning'"
      [pa-product]="item"
      (pa-category)="form.controls['category'].setValue($event)">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td [pa-attr]="item.category === 'Soccer' ? 'bg-success' : null">{{item.category}}</td>
      <td [pa-attr]="'ng-info'">{{item.price}}</td>
      <td class="text-xs-center">
        <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)">Delete</button>
      </td>
    </tr> -->
    <!-- <ng-template [paForOf]="getProducts()" let-item let-i="index" let-odd="odd" let-even="even" let-first="first" let-last="last">
      <tr [class.bg-info]="odd" [class.bg-warning]="even">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
      </tr>
    </ng-template> -->
    <tr *paFor="let item of getProducts(); let i=index; let odd=odd; let even=even" [class.bg-info]="odd" [class.bg-warning]="even">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price}}</td>
      <td class="text-xs-center">
        <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)">Delete</button>
      </td>
    </tr>
  </table>  
</div>